
body {
  margin: 0px;
}

.imgBanner {
width: 95%;
}

#left {
  background: #00BFFF;
  position: fixed;
}

#left {
  top: 0;
  bottom: 0;
  width: 30px;
}

#left {
  left: 0;
}

.row {
  padding-left: 185px;
}

.firstBox {
  padding-left: 40px;
}

.secondBox {
  padding-left: 625px;
}

.thirdBox {
  padding-left: 40px;
}

.fourthBox {
  padding-left: 625px;
}

.heading3 {
  color:#1765BF;
}

.ctaImg {
  width:600px ;
  height:100px ;
  background-color:#E1E2E2;
}

.boldIntroBox {
  padding-left: 162px;
  padding-top: 10px;
  color: #53ABF7;
  font-size: 20px;
}
.ctaImgDescript {
  text-align: right;
  padding-right: 20px;
  padding-top: 4px;
  color:#53ABF7;
}
